:root { 
--black_900_7f:#0000007f; 
--black_900_b2:#000000b2; 
--red_600:#e12f2f; 
--blue_A700:#0067ff; 
--black_900_5a:#0000005a; 
--green_800:#00a510; 
--black_900_3f:#0000003f; 
--black_900_87:#00000087; 
--green_A700:#0a9d4b; 
--black_900:#000000; 
--indigo_A700_01:#0028ff; 
--blue_A700_7f:#0067ff7f; 
--blue_gray_900:#242438; 
--red_600_b2:#f2232fb2; 
--red_A700:#ff0000; 
--black_900_4c:#0000004c; 
--indigo_A700_7f:#3455fd7f; 
--black_900_0a:#0000000a; 
--pink_50:#ffdfe4; 
--gray_400:#c4c4c4; 
--blue_gray_100:#d9d9d9; 
--gray_500:#93939a; 
--indigo_50:#ebebff; 
--gray_200:#f0f0f0; 
--green_50:#e9ffe5; 
--black_900_99:#07080d99; 
--indigo_A700:#3455fd; 
--gray_400_01:#bebebe; 
--white_A700:#ffffff; 
}